*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 60px;
    background-color: lightgray;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

footer{
    display: flex;
    background-color: lightgray;
    height: 40px;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 8px;
}

main section figure{
    width: 160px;
    border: 1px solid black;
}

